@model ASP.net.Models.Author

@{
    ViewBag.Title = $"Edit Author {Model.LastName} {Model.FirstName}";
}


<h4>Автор</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @await Html.PartialAsync("Partials/_AuthorPartialForm", Model)
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

